<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <!-- You can link your CSS file here if needed -->

</head>
<body>

    <h1>Calculator</h1>

    <form method="POST" action="">
        {% csrf_token %}
        {{ form }}

        <label for="sum">Result:</label>
        <input type="text" value="{{ output }}" readonly>

      

        <!-- Submit Button (optional) -->
        <button type="submit">Calculate Again</button>
    </form>

</body>
</html>
