

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Sign in Page!</h1>
    
    <form action="{% url 'signin' %}" method="post">
         {% csrf_token %}
        <!-- Username -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <br>

        <!-- Password -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <br>

        
    <!-- Navigation buttons with embedded anchor tags -->
    
    <button type="submit">Sign In</button>
       
    </form>




    <!-- Navigation buttons with embedded anchor tags -->
    
    
</body>
</html>