<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>{{title}}</title>
</head>
<body>

    <header>
        <h1>{{data}}</h1>
    </header>

    <nav>
        <ul>
            
            <li><a href="#section1">GOOD</a></li>
           
            <li><a href="#section2">Section 2</a></li>
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>

    <main>
        <section id="section1">
            {% for n in list %}
            <h2>Section {{forloop.counter}}</h2>
           
            <p>{{n}}</p>
            {% endfor %}
           
        </section>

        <section id="section2">
            <h2>Section 2</h2>
            <p>This is the content of Section 2.</p>
        </section>
        <!-- Add more sections as needed -->
    </main>

    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>

</body>
</html>
